* {
    font-family: "Poppins", sans-serif;
}

.body{
    margin: 0;
}
/*.container{*/
/*    height: 500vh;*/
/*    max-height: 500vh;*/
/*    background-color: white;*/
/*    overflow-y: hidden;*/
/*}*/

.header{
    height: 20vh;
    margin: 0;
    background-color: white;

}
.reach-us{
    margin-bottom: 1.5em;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.header img{
    padding-top: 4px;
    padding-right: 1px;
    width: 20px;
    height: 30px;
    margin-left:200px;


}
.header h1{
    display: inline-block;
    color: #0c2461;
    text-align: left;
    font-size:small;
    padding-left: 15px
}
.header h2{
    display: inline-block;
    color: #0c2461;
    text-align: left;
    font-size:small;
    padding-right: 10px;
}
.social-icons{
    padding-left: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

}
.container-body-one{
    display: block;
    height: 80vh;
    max-height: 80vh;
    margin: 0;
    background-color: #7dcaba;
}
.container-body-one-text h1{
    padding-top: 110px  ;
    margin-left: 15%;
    font-size: 47px;
    line-height: 58px;
    font-weight: 700;
    color: #0c2461;
}
.container-body-one-text p{
    margin-left: 15%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #3c6382;
    margin-bottom: 10px;
}
.container-body-one button{
    margin-top: 3%;
    font-size: medium;
    text-align: center;
    color: white;
    background-color: orangered;
    font-weight: 600;
    padding-top: 8px;
    margin-left: 15.3%;
    width: 190px;
    height: 60px;
    border: none;
    border-radius: 12px;
}

.container-body-two{
    display: block;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    background-color:white;
}
.container-body-two-text h1{
    margin-top: 5%;
    text-align: center;
    color: orangered;
    font-size: medium;
    font-weight: 600;
}
.container-body-two-text h2{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #0c2461;
    line-height: 46px;
    margin-bottom: 0.5rem;
}
.container-body-two-text p{
    text-align: center;
}
.design{
    gap: 5%;
    padding-top: 7%;
    padding-left: 15%;
    display: flex;

}
.container-body-three{
    height: 200vh;
    background-color: #FAE8E0;
}
.wat{
    text-align: center;
    padding-top: 2%;
}
.wat p{

}
.wat h1{
    font-size: 20px;
    font-weight: bold;
    color: orangered;
}
.wat h2{
    font-size: 40px;
    color: #0c2461;
}
.not img{
    padding-top: 7%;
    padding-left: 10%;
}
.ti h1 {

}
.ti p {

}
.ti{
    padding-left: 10%;
}
/*background-color:#362952;*/
/*background-color:#663399;*/
/**/

